worker_processes 4;
pid /var/run/nginx.pid;
load_module {{ nginx_sigsci_module }};
load_module {{ nginx_http_module }};

events {
    worker_connections 1500;
}

http {
    ##
    # Basic Settings
    ##
    server_names_hash_max_size 1024;
    server_names_hash_bucket_size 128;
    proxy_headers_hash_max_size 1024;
    proxy_headers_hash_bucket_size 128;

    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 600;
    types_hash_max_size 2048;
    server_tokens off;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    ##
    # Logging Settings
    ##
    log_format combined_host '$remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent '
                             '"$http_referer" "$http_user_agent" - $request_time '
                             'Host=$host SSOUser=$email';

    access_log /var/log/nginx/access.log combined_host;
    error_log /var/log/nginx/error.log;

    real_ip_header X-Forwarded-For;
    set_real_ip_from 0.0.0.0/0;
    add_header X-UA-Compatible "chrome=1";

    ##
    # Gzip Settings
    ##
    gzip on;
    gzip_proxied any;
    gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;

    ##
    # Proxy buffering settings
    ##
    client_max_body_size 0;
    proxy_http_version 1.1;
    proxy_request_buffering off;
    proxy_send_timeout 600s;
    proxy_read_timeout 600s;
    proxy_buffering off;
    proxy_buffers 16 8k;
    proxy_buffer_size 32k;

    ##
    # Proxy cache settings
    ##
    proxy_cache_path /dev/shm/nginxproxy levels=1:2 keys_zone=STATIC:10m inactive=24h max_size=3g use_temp_path=off;

    ##
    # Default proxy pass settings
    ##
    proxy_pass_header  Set-Cookie;
    proxy_pass_header  P3P;
    proxy_pass_header  X-Accel-Redirect;

    proxy_set_header Accept-Encoding '';
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    port_in_redirect    off;
    proxy_redirect ~^(http.+):\d+(/.+)$ $1$2;

    proxy_ssl_verify off;
    proxy_ssl_protocols SSLv2 SSLv3 TLSv1 TLSv1.1 TLSv1.2;

    ##
    # generated 2020-01-24, https://ssl-config.mozilla.org/#server=nginx&server-version=1.16.1&config=intermediate&openssl-version=1.1.1
    # Supports Firefox 27, Android 4.4.2, Chrome 31, Edge, IE 11 on Windows 7, Java 8u31, OpenSSL 1.0.1, Opera 20, and Safari 9 
    ##

    # intermediate configuration
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:DHE-RSA-AES256-SHA256:AES256-GCM-SHA384;
    ssl_prefer_server_ciphers on;
    # ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:RSA-AES256-GCM-SHA384;
    # ssl_prefer_server_ciphers off;

    # HSTS (ngx_http_headers_module is required) (63072000 seconds)
    add_header Strict-Transport-Security "max-age=63072000" always;

    # OCSP stapling
    ssl_stapling on;
    ssl_stapling_verify on;

    ##
    # Signal Sciences WAF module
    ##
    include /opt/sigsci/nginx/sigsci.conf;

    ##
    # Additional config
    ##
    # pre-Salt config lines
    include pre.conf;

    # main list of sites generated from Ansible
    include ansible.conf;

    # post-Salt config lines
    include post.conf;

}

